<form (ngSubmit)="changePassWord()" [formGroup]="changePassForm">

  <div class="container ">
    <div class="row">
      <div class="col-12 m-auto background">
        <div class="d-flex justify-content-center">

          <h1 class="mb-3">Thay đổi mật khẩu</h1>
          <!--                <button style="background: transparent; border: none; padding: 0px"><i class="material-icons" style="font-size:36px;color:red">cancel</i></button>-->
        </div>
        <div class="mb-3">
          <label class="required">Email<span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="text" formControlName="email" class="form-control" placeholder="Email" required=""><br>
          </div>
          <p style="color: red" *ngIf="changePassForm.get('email').errors?.required && changePassForm.get('email').touched">Trường này không được phép để trống.</p>
          <p style="color: red" *ngIf="changePassForm.get('email').errors?.email">Trường này phải có định dạng Email.</p>
        </div>
        <div class="mb-3">
          <label class="required">Mật khẩu cũ<span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="password" formControlName="password" class="form-control" placeholder="Mật khẩu cũ">
          </div>
          <p style="color: red" *ngIf="changePassForm.get('password').errors?.required && changePassForm.get('password').touched">Trường này không được phép để trống.</p>
          <p style="color: red" *ngIf="changePassForm.get('password').errors?.errorPs && changePassForm.get('password').touched">
            mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số.</p>

<!--        <div *ngIf="checkPassword" style="color: red">-->
<!--          Mật khẩu chưa đúng.-->
<!--        </div>-->
        </div>
        <div class="mb-3">
          <label class="required">Mật khẩu mới<span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="Mật khẩu mới">
          </div>
          <p style="color: red" *ngIf="changePassForm.get('newPassword').errors?.required && changePassForm.get('newPassword').touched">
            Trường này không được phép để trống.</p>
          <p style="color: red" *ngIf="changePassForm.get('newPassword').errors?.errorPs && changePassForm.get('newPassword').touched">
            mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số.</p>
        </div>
        <div class="mb-3">
          <label class="required">Xác nhận mật khẩu<span class="text-danger">(*)</span>:</label>
          <div class="input-group">
            <input type="password" (change)="checkPsMatching()" formControlName="confirmPassword" class="form-control" placeholder="Mật khẩu mới">
          </div>
          <p style="color: red" *ngIf="changePassForm.get('confirmPassword').errors?.required && changePassForm.get('confirmPassword').touched">
            Trường này không được phép để trống.
          </p>
          <p style="color: red" *ngIf="changePassForm.get('confirmPassword').errors?.mustMatching && changePassForm.get('confirmPassword').touched">
            Xác thực mật khẩu không chính xác.
          </p>
        </div>
        <mat-form-field appearance="fill" hidden>
          <mat-label>Message</mat-label>
          <input matInput value="Thay đổi mật khẩu thành công!" #message>
        </mat-form-field>

        <mat-form-field appearance="fill" hidden>
          <mat-label>Action</mat-label>
          <input matInput value="Ok" #action>
        </mat-form-field>
        <div class="mb-3" style="text-align: right">
<!--          <input type="button" (click)="changePassWord()" class="btn btn-success" value="Thay đổi mật khẩu">-->
          <input type="submit" class="btn btn-success display:inline-block"  [disabled]="changePassForm.invalid" value="Thay đổi mật khẩu" mat-stroked-button (click)="openSnackBar(message.value, action.value)">
        </div>
      </div>
    </div>
  </div>
</form>

